<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(dark)">
    <meta charset="UTF-8"/>
</head>
<body>
<header th:replace="layouts/base::header(dark)"></header>

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h3 th:text="#{productos.lista.titulo}"></h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{productos.producto.id}"></th>
                    <th th:text="#{productos.producto.codigo}"></th>
                    <th th:text="#{productos.producto.nombre}"></th>
                    <th th:text="#{productos.producto.precio}"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto: ${productos}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.codigo}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td>
                        <a th:href="@{editar/} + ${producto.id}" th:text="#{productos.acciones.editar}" class="btn btn-outline-primary"></a>
                        <a th:href="@{eliminar/} + ${producto.id}" th:text="#{productos.acciones.eliminar}" class="btn btn-outline-danger"></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <a th:href="@{crear}" class="btn btn-outline-primary btn-block" th:text="#{productos.acciones.anadir}"></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layouts/base::footer(dark)"></footer>
</body>
</html>